{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="container text-center py-4 py-md-5">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="bio-image-div">
                    <img src="{{ MEDIA_URL }}Untitled_Artwork 7.jpg" class="home-image" alt="placeholder">
                </div>
            </div>
            <div class="col-12 col-lg-6 bio-text">
                <h1>Glen Beckford</h1>
                <p class="lead pt-3">photographer / painter</p>
                <div class="col text-center py-2">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
                <p>
                    Glen is a traditional artist, specializing in painting.
                </p>
                <p>
                    Glen is a traditional artist, specializing in painting.(longer about text)
                    Glen is a traditional artist, specializing in painting.(longer about text)
                    Glen is a traditional artist, specializing in painting.(longer about text)
                </p>
            </div>
        </div>
    </section>

    <div class="pink">
    <hr>
    <section class="container py-4 py-md-5">
        <div class="row">
            <div class="col-12 col-lg-6 bio-text text-center">
                <h2 class="head-text">Browse artwork</h2>
                <p class="">
                    Take a look at some of my favorite original pieces that are currently available for purchase.
                </p>
            </div>
        </div>
        <div class="row card-deck">
            <div class="card">
                <img src="{{ MEDIA_URL }}card1.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">All artwork</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="{% url 'products' %}" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card">
                <img src="{{ MEDIA_URL }}card3.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">Single colour</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="{% url 'products' %}?category=single colour" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card">
                <img src="{{ MEDIA_URL }}card2.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">Multi-colour</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="{% url 'products' %}?category=multi-colour" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </section>
    <hr>
    </div>
{% endblock %}