<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="font-weight-bold nav-link d-block d-md-none text-black" href="" id="home-link">
                home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5 text-black" href="" id="products-links" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="products-links">
                <a href="{% url 'products' %}" class="dropdown-item text-black">view all</a>
                <a href="{% url 'products' %}?category=single colour" class="dropdown-item text-black">Single colour</a>
                <a href="{% url 'products' %}?category=multi-colour" class="dropdown-item text-black">Multi-colour</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-5 text-black" href="{% url 'faqs_page' %}" id="faqs-link" aria-haspopup="true" aria-expanded="false">
                FAQs
            </a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-5 text-black" href="" id="contact-link" aria-haspopup="true" aria-expanded="false">
                contact
            </a>
        </li>
    </ul>
</div>