.faqs-accordian {
    padding: 30px 0 70px 0;
    color: #222021;
}

.faqs-accordian .card {
    background-color: #E4D2CC;
}

#accordionExample {
    text-align: center;
    margin: 7px;
}

.btn-link {
    color: #222021;
}

.heading-text{
    padding-bottom: 20px;
}