{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/newsletter.css' %}">
{% endblock %}

{% block page_header %}
<div class="container-fluid header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center news-head">
            <h2 class="head-text orange">Sign up</h2>
            <p class="orange">
                Want to keep up to date with any new arrivals?
                Sign up to our newsletter and receive monthly updates on all upcoming projects!
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <form method="POST" class="form mb-2">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-center">
                    <button class="submit btn btn-black mb-3 mt-sm-3" type="submit"><strong>SUBMIT</strong></button>
                </div>
            </form>
        </div>
    </div>
    
</div>
{% endblock %}