{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block page_header %}
<div class="container-fluid header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center contact-head">
            <h2 class="head-text orange">Get in Contact</h2>
            <p class="orange">
                Searching for info you haven't seen covered on our site? 
                Feel free to contact us and we'll be happy to answer any questions/requests.
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <form method="POST" class="form mb-2">
                {% csrf_token %}
                {{ form.first_name | as_crispy_field }}
                {{ form.last_name | as_crispy_field }}
                {{ form.email | as_crispy_field }}
                {{ form.message | as_crispy_field }}
                <div class="text-center">
                    <button class="submit btn btn-black mb-3 mt-sm-3" type="submit"><strong>SUBMIT</strong></button>
                </div>
            </form>
        </div>
    </div>
    
</div>
{% endblock %}